<html lang="en">
  <head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>{{blog_name}}</title>

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="../images/android-desktop.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Material Design Lite">
    <link rel="apple-touch-icon-precomposed" href="../images/ios-desktop.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content=" {% static "images/touch/ms-touch-icon-144x144-precomposed.png" %}">
    <meta name="msapplication-TileColor" content="#3372DF">

    <link rel="shortcut icon" href="../images/favicon.png">

    <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
    <!--
    <link rel="canonical" href="http://www.example.com/">
    -->

    <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"> -->
    <link rel="stylesheet" href="{% static "css/font-googleapi.css" %}">
    <link rel="stylesheet" href="{% static "css/font-googleapi-font.css" %}">
    <link rel="stylesheet" href="{% static "css/material.min.css" %}">
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
    <link rel="stylesheet" href="{% static "css/main.css" %}">
    <link rel="stylesheet" href="{% static "css/prism.css" %}">

    <script type="text/javascript" src="{% static "lib/jquery-3.3.1.min.js" %}"></script>
    <script type="text/javascript" src="{% static "lib/popper.min.js" %}"></script>

    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/bootstrap-theme.min.css" %}">
    <script type="text/javascript" src="{% static "lib/bootstrap.min.js" %}"></script>

    <script type="text/javascript" src="{% static "lib/main.js" %}"></script>
    <script type="text/javascript" src="{% static "lib/prism.js" %}"></script>
    <script type="text/javascript" charset="utf-8" async="" src="{% static "lib/L2Dwidget.0.min.js" %}"></script>
    <script src="{% static "live2dw/lib/L2Dwidget.min.js" %}"></script>
  </head>
  <body>
    <canvas id="live2dcanvas" width="200" height="400" style="position: fixed; left:0px; opacity: 1; bottom: -20px; z-index: 99999; pointer-events: none;"></canvas>
    <script>
      var config = {"model":{"jsonPath":"{% static "live2dw/assets/shizuku.model.json" %}"},"display":{"position":"right","width":150,"height":300},"mobile":{"show":true}};
      L2Dwidget.init(config);
    </script>


    <!-- Material sidebar -->
    <aside id="sidebar" class="sidebar sidebar-inverse" role="navigation">
        <!-- Sidebar header -->
        <div class="sidebar-header header-cover" style="background-image: url(https://2.bp.blogspot.com/-2RewSLZUzRg/U-9o6SD4M6I/AAAAAAAADIE/voax99AbRx0/s1600/14%2B-%2B1%2B%281%29.jpg);">
            <!-- Top bar -->
            <div class="top-bar"></div>
            <!-- Sidebar toggle button -->
            <button type="button" class="sidebar-toggle">
                <i class="material-icons">menu</i>
            </button>
            <!-- Sidebar brand image -->
            <div class="sidebar-image">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/53474/atom_profile_01.jpg">
            </div>
            <!-- Sidebar brand name -->
            <a data-toggle="dropdown" class="sidebar-brand dropdown-toggle" href="#settings-dropdown">
                email@zming.info
                <b class="caret"></b>
            </a>
        </div>
    
        <!-- Sidebar navigation -->
        <ul class="nav sidebar-nav">
            <li id="settings-dropdown" class="dropdown">
                <ul  class="dropdown-menu">
                    <li>
                        <a href="https://profile.zming.info/" tabindex="-1">
                            Profile
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/zMingGit" tabindex="-1">
                            Github
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/lieofman" tabindex="-1">
                            Twitter
                        </a>
                    </li>
                    <li>
                        <a href="mailto:email@zming.info" target="_blank" rel="noopener noreferrer" tabindex="-1">
                            MailTo
                        </a>
                    </li>
                </ul>
            </li>
            <li class="divider"></li>
            <li class="dropdown">
                <a class="ripple-effect dropdown-toggle" href="#" data-toggle="dropdown">
                    Articles
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    {% for info in articlesInfo %}
                        <li>
                            <a href="/articles/{{ info.uuid }}" tabindex="-1">
                                {{ info.type }}
                                <span class="sidebar-badge">{{ info.count }}</span>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
            <!--   <li>
                <a href="#">
                    Trash
                    <span class="sidebar-badge">3</span>
                </a>
            </li>
            <li>
                <a href="#">
                    Spam
                    <span class="sidebar-badge">456</span>
                </a>
            </li>
            <li>
                <a href="#">
                    Follow Up
                    <span class="sidebar-badge badge-circle">i</span>
                </a>
            </li> -->
        </ul>
      </aside>

  <script>
    Array.prototype.forEach.call(document.querySelectorAll('.mdl-card__media'), function(el) {
      var link = el.querySelector('a');
      if(!link) {
        return;
      }
      var target = link.getAttribute('href');
      if(!target) {
        return;
      }
      el.addEventListener('click', function() {
        location.href = target;
      });
    });
  </script>

  {% block context %}
  {% endblock %}

  {% block js_ex %}
  {% endblock %}

  </body>
</html>
