{% extends "base.html" %}
{% load article_filter %}
{% block context %}
    <div class="index-articles col-xs-7 col-md-7 col-sm-7 col-xs-offset-2 col-md-offset-2 col-xm-offset-2">
        {% for article in articles %}
            <div uuid="{{ article.uuid }}" class="article-btn col-xs-12 col-md-12 col-sm-12">
                <div>
                    {{ article.title|safe }}
                </div>
                <div class="navbar-text">
                {{ article.context|index_context|safe }}
                </div>
            </div>
            <br/>
        {% endfor %}
    </div>
    <!--
    <div class="col-lg-3 hidden-md hidden-sm hidden-xs recommonds pull-right">
        {% for recommond in recommonds %}
            <div uuid="{{ recommond.uuid }}"class="article-btn recommond">
                <a href="####">
                    {{ recommond.title|safe }}
                </a>
            </div>
        {% endfor %}
    </div>
    //-->
{% endblock %}
