{% extends "base.html" %}
{% load static %}
{% load article_filter %}
{% block context %}
    <link rel="stylesheet" href="{% static "css/font-googleapi.css" %}">

    <div class="blog mdl-layout mdl-js-layout has-drawer is-upgraded">
      <main class="mdl-layout__content">
        <div class="blog__posts mdl-grid">
        {% if spec_msg %}
          <div class="articleCard mdl-card on-the-road-again mdl-shadow--6dp mdl-cell mdl-cell--12-col">
             <div class="mdl-card__media mdl-color-text--grey-50">
               <h1><a href="####">{{ spec_msg }}</a></h1>
            </div>
          </div>
        {% else %}
          {% if index %}
            <div class="mdl-card coffee-pic mdl-shadow--6dp mdl-cell mdl-cell--8-col">
              <div class='mdl-card__title out_module'>
                {% for info in articlesInfo %}
                  <li>
                    <a href="/articles/{{ info.uuid }}" tabindex="-1">
                        {{ info.type }}
                        <span class="sidebar-badge">{{ info.count }}</span>
                    </a>
                  </li>
                {% endfor %}
              </div>
              <div class="mdl-card__media mdl-color-text--grey-50">
                <h3><a href="profile">细语</a></h3>
              </div>
              <div class="mdl-card__supporting-text meta mdl-color-text--grey-600">
                <div class="minilogo"></div>
                <div class="mdl-cell--9-col">
                  <strong>{{ author }}</strong>
                </div>
                <div class="mdl-cell--1-col">
                  <a href="https://github.com/zMingGit" tabindex="-1">
                  <img height="32" width="32" src="https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/github.svg" />
                  </a>
                </div>

                <div class="mdl-cell--1-col">
                  <a href="https://twitter.com/lieofman" tabindex="-1">
                  <img height="32" width="32" src="https://cdn.jsdelivr.net/npm/simple-icons@latest/icons/twitter.svg" />
                  </a>
                </div>

                <div class="mdl-cell--1-col">
                  <a href="mailto:email@zming.info" target="_blank" rel="noopener noreferrer" tabindex="-1">
                  <img height="32" width="32" src="{% static "images/envelope.svg" %}" />
                  </a>
                </div>
              </div>
            </div>
            <div class="mdl-card something-else mdl-shadow--6dp mdl-cell mdl-cell--8-col mdl-cell--4-col-desktop">
              <div class="out_module">
                <form action="/">
                  <div class="search_target mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input " name="search_text" type="text" id="search_input">
                    <label class="mdl-textfield__label" for="search_input"></label>
                  </div>
                </form>
                <button class="search_btn mdl-button mdl-js-ripple-effect mdl-js-button mdl-color--accent">
                  <i class="material-icons">search</i>
                  <span class="visuallyhidden">add</span>
                </button>
              </div>
              <div class="mdl-card__media mdl-color--white mdl-color-text--grey-600" style="background-image: url('https://raw.githubusercontent.com/zMingGit/images/master/blog/logo.webp');">
              </div>
              <div class="mdl-card__subtitle-text meta meta--fill mdl-color-text--black">
                <div>
                  <b>世当暗夜月如卿,守残抱缺待天明</b>
                </div>
                <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right mdl-js-ripple-effect" for="menubtn" >
                  <li class="mdl-menu__item links_btn">
                    <a href="#">LINKS</a>
                  </li>
                  <li class="mdl-menu__item rss_btn">
                    <a href="#" >RSS</a>
                  </li>
                </ul>
                <button id="menubtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                  <i class="material-icons" role="presentation">more_vert</i>
                  <span class="visuallyhidden">show menu</span>
                </button>
              </div>
            </div>
           {% endif %}

           {% for article in articles %}
             <div class="articleCard mdl-card on-the-road-again mdl-shadow--6dp mdl-cell mdl-cell--12-col" uuid="{{ article.uuid }}">
               <div class="mdl-card__media mdl-color-text--grey-50" style="background-image: url({{ article.image }});">
                 <h3><a href="####">{{article.title|safe}}</a></h3>
               </div>
               <div class="mdl-color-text--grey-600 mdl-card__supporting-text">
                 {{ article.intro|safe }}
               </div>
               <div class="authorCard mdl-card__supporting-text meta mdl-color-text--grey-600">
                 <div>
                   <span>编辑于 {{ article.create_time }}</span>
                 </div>
               </div>
             </div>
           {% endfor %}

           <nav class="demo-nav mdl-cell mdl-cell--12-col">
             {% if back %}
             <a href="/?page={{ page|add:"-1" }}" class="demo-nav__button" title="show more">
             <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" data-upgraded=",MaterialButton,MaterialRipple">
               <i class="material-icons">arrow_back</i>
               <span class="mdl-button__ripple-container"><span class="mdl-ripple is-animating" style="width: 92.5097px; height: 92.5097px; transform: translate(-50%, -50%) translate(14px, 11px);"></span></span>
             </button>
               Back
             </a>
          {% endif %}

            <div class="section-spacer"></div>

            {% if more %}
            <a href="/?page={{ page|add:"1" }}" class="demo-nav__button" title="show more">
              More
              <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" data-upgraded=",MaterialButton,MaterialRipple">
                <i class="material-icons" role="presentation">arrow_forward</i>
              <span class="mdl-button__ripple-container"><span class="mdl-ripple is-animating" style="width: 92.5097px; height: 92.5097px; transform: translate(-50%, -50%) translate(14px, 11px);"></span></span></button>
            </a>
            {% endif %}
         </nav>

        {% endif %}
      </main>
      <div class="mdl-layout__obfuscator"></div>
    </div>
    <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>


    <!-- Overlay for fixed sidebar -->
    <div class="sidebar-overlay">
    </div>



{% endblock %}
