{% extends "base.html" %}
{% load staticfiles %}
{% load article_filter %}
{% block context %}

    <div class="demo-blog demo-blog--blogpost mdl-layout mdl-js-layout has-drawer is-upgraded">
      <main class="mdl-layout__content">
        <div class="demo-back">
          <a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" href="/" title="go back" role="button">
            <i class="material-icons" role="presentation">arrow_back</i>
          </a>
        </div>
  <div class="profile">
  <p> 想做一个不会出BUG的程序员，想要项目线上从来不会出错.                   </p>
                                                    
  <p style="text-align:center">                                            --FLAG</p>
  </div>
      </main>
    </div>


{% endblock %}
