asgiref==3.2.3
Django==3.0
djangorestframework==3.11.0
Markdown==3.1.1
mdx-del-ins==1.0
mysqlclient==1.4.6
pep562==1.0
Pygments==2.5.2
pymdown-extensions==6.2
pysqlite3-binary==0.4.1.post1
pytz==2017.2
six==1.10.0
sqlparse==0.3.0
uWSGI==2.0.18
